<%- include (header) -%>

<body>
    <div class="jumbotron">
      <h1 class="display-4 h1-404">404!</h1>
      <p class="lead lead-text"><%=lead%></p>
      <hr class="my-4">
      <p class="text-404"><%=text%></p>
      <a class="btn btn-dark btn-lg a-404" href="/home" role="button"><%=button%></a>
    </div>
</body>
</html>
